#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }

/* Small devices (landscape phones, 576px and up)*/

/*@media (min-width: 576px) {*/

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {

#wrapper {width:90%;  margin: 0 auto; }

#content {width:70%; float:left; }

#sidebar {width:30%; float:right; }
}

/* Large devices (desktops, 992px and up)*/

/*@media (min-width: 992px) { ... }

}*/

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {

#wrapper {width:90%;  margin: 0 auto; }

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
       
  }
  
  li {
    float:left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #616161;
  }
